*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #bf8383;
}

tr:nth-child(odd) {
    background-color: #876666;
}

.same {
    width: 360px;
    height: 320px;
    border: 1px solid black;
}

article {
    display: inline;
}

h1, h2 {
    text-align: center;

}


.container {
  margin: 0 auto;
  width: 90%;
  max-width : 1200px; 
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}


.column.third {
    width: 33.3%;
}

.column.full { 
    width: 100%;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

p {
    text-align: center;
}